@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  flex-wrap: wrap;
  width: 100%;
  height: 4em;
  position: fixed;
  backdrop-filter: blur(8px);
  background: transparent;
  z-index: 1000;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.349);
}

#nome {
  align-items: center;
  color: black;
  font-size: 1.5em;
  padding-left: 5em;
}

#sobrenome {
  color: red;
}

nav {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1em;
  padding-right: 8em;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.5s;
  font-weight: 600;
}

a:hover {
  color: purple;
}
