@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  flex-wrap: wrap;
  width: 100%;
  height: 4em;
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 1000;
  border-bottom: 0.5px solid rgba(252, 252, 252, 0.123);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  z-index: 1;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Certifica-se de que o particle.js cubra toda a tela */
  z-index: -1; /* Coloca o particle.js atrás do conteúdo */
}

.nav_link {
  list-style: none;
  display: flex;
  gap: 10em;
  padding: 0;
}

.nav a {
  color: #fafaf9;
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  position: relative;
  transition: color 0.5s ease;
}

.nav a:hover {
  color: rgb(255, 0, 0);
}

.nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.4s ease;
  transform: translateX(-50%);
}

.nav a:hover::after {
  width: 100%;
}

#nome {
  align-items: center;
  color: #fafaf9;
  font-size: 1.7em;
  padding-left: 5em;
  font-weight: 700;
}

#sobrenome {
  color: red;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1em;
  padding-right: 8em;
}

.nav_link {
  display: flex;
  gap: 1em;
  list-style-type: none;
  gap: 2em;
}

main,
header {
  pointer-events: none; /* Permite que os eventos de mouse passem */
}

nav a,
button,
#menu-icon,
header a {
  pointer-events: auto; /* Mantém links e botões clicáveis */
}

h1 {
  font-weight: 900;
  text-align: left;
  color: #ffffff;
  padding-bottom: 2em;
  font-size: 3em;
}

#me {
  color: red;
}

main {
  padding-top: 7em;
  padding-left: 9em;
  padding-right: 6em;
}

section h2 {
  font-weight: 800;
  font-size: 2.5em;
  margin-bottom: 1em;
  color: #ffffff;
  display: flex;
  align-items: center;
}

h3 {
  font-size: 2em;
  margin-top: 0.6em;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  position: relative;
}

h4 {
  font-weight: 600;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #ffffff;
}

p {
  max-width: 70em;
  text-indent: 0.3em;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1.6;
  color: #ffffff;
  padding-bottom: 2em;
}

.course {
  margin-bottom: 1em;
}

img {
  margin-right: 0.6em;
  vertical-align: middle;
  clip-path: circle(50% at 50% 50%);
}

#curso p {
  max-width: 55em;
}

img {
  margin-right: 0.6em;
  vertical-align: middle;
  clip-path: circle(50% at 50% 50%);
}

h3 img {
  margin-left: 0.6em;
  width: 40px;
  height: 40px;
}

h3::before {
  content: "-";
  font-size: 2em;
  color: #fafaf9;
}

@media (max-width: 870px) {
  #nome {
    padding-left: 0.9em;
    font-size: 1.4em;
  }

  main {
    padding-left: 2.2em;
    padding-right: 1em;
  }

  h1 {
    font-size: 2em;
    padding-bottom: 1em;
  }

  section h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }
}
