@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  flex-wrap: wrap;
  width: 100%;
  height: 4em;
  position: fixed;
  backdrop-filter: blur(6px);
  z-index: 1000;
  border-bottom: 0.5px solid rgba(252, 252, 252, 0.123);
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  z-index: 1;
}

.nav_link {
  list-style: none;
  display: flex;
  gap: 10em;
  padding: 0;
}

.nav a {
  color: #fafaf9;
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  position: relative;
  transition: color 0.5s ease;
}

.nav a:hover {
  color: rgb(255, 0, 0);
}

.nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.4s ease;
  transform: translateX(-50%);
}

.nav a:hover::after {
  width: 100%;
}

#nome {
  align-items: center;
  color: #fafaf9;
  font-size: 1.7em;
  padding-left: 5em;
  font-weight: 700;
}

#sobrenome {
  color: red;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1em;
  padding-right: 8em;
}

.nav_link {
  display: flex;
  gap: 1em;
  list-style-type: none;
  gap: 2em;
}

span,
.table,
img,
main,
header {
  pointer-events: none; /* Permite que os eventos de mouse passem */
}

main a,
nav a,
#menu-icon,
header a {
  pointer-events: auto; /* Mantém links e botões clicáveis */
}

main {
  position: relative;
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2em;
}

/* Animação ajustada para ser mais lenta */
main a {
  opacity: 0; /* Inicialmente invisível */
  transform: translateY(20px); /* Posicionado ligeiramente fora do lugar */
  animation: fadeIn 0.8s ease-out forwards; /* Duração ajustada para 0.8s */
}

main a:nth-child(1) {
  animation-delay: 0s; /* Primeiro botão */
}

main a:nth-child(2) {
  animation-delay: 0.3s; /* Segundo botão */
}

main a:nth-child(3) {
  animation-delay: 0.6s; /* Terceiro botão */
}

main a:nth-child(4) {
  animation-delay: 0.9s; /* Quarto botão */
}

main a:nth-child(5) {
  animation-delay: 1.2s; /* Quinto botão */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35em;
  height: 4.5em;
  background-color: rgba(0, 0, 0, 0.452);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 0, 0, 0.432);
  border-radius: 10px;
  color: white;
}


#dl {
  color: #fafaf9;
  font-size: 1.5em;
  font-weight: 500;
}

.table img {
  width: 50px;
  height: 50px;
}

@media (max-width: 905px) {
  #nome {
    padding-left: 2em;
  }

  .table {
    width: 30em;
  }
}

@media (max-width: 600px) {
  #nome {
    font-size: 1.4em;
    padding-left: 0.5em;
  }

  .table {
    width: 25em;
  }
}
