@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  flex-wrap: wrap;
  width: 100%;
  height: 4em;
  position: fixed;
  backdrop-filter: blur(6px);
  z-index: 1000;
  border-bottom: 0.5px solid rgba(252, 252, 252, 0.123);
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;

}

body {
  position: relative;
  z-index: 1;
}

.nav_link {
  list-style: none;
  display: flex;
  gap: 2em;
  padding: 0;
}

.nav a {
  color: #fafaf9;
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  position: relative;
  transition: color 0.5s ease;
}

.nav a:hover {
  color: rgb(255, 0, 0);
}

.nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.4s ease;
  transform: translateX(-50%);
}

.nav a:hover::after {
  width: 100%;
}

#nome {
  align-items: center;
  color: #fafaf9;
  font-size: 1.7em;
  padding-left: 5em;
  font-weight: 700;
}

#sobrenome {
  color: red;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1em;
  padding-right: 8em;
}

.nav_link {
  display: flex;
  gap: 1em;
  list-style-type: none;
  gap: 2em;
}

main,
#pr #my,
#pr h1,
#pr h2 #nome,
span,
h4,
header {
  pointer-events: none; /* Permite que os eventos de mouse passem */
}

nav a,
button,
main .all a,
#menu-icon,
header a {
  pointer-events: auto; /* Mantém links e botões clicáveis */
}

#pr {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 7em;
}

h1 {
  width: 10em;
  font-size: 3em;

  padding-left: 3.1em;
  color: #fafaf9;
}

#my {
  color: red;
}

h2 {
  padding-right: 7.4em;
  font-size: 1.2em;
}

h2 a {
  color: #fafaf9;
  transition: color 0.3s ease;
}

h2 a:hover {
  color: red;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 2em;
}

a p {
  color: #fafaf9;
  padding-top: 1em;
  font-size: 1.2em;
  font-weight: 700;
}

.all a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25em;
  height: 15em;
  flex-direction: column;
  background-color: #0d0d0f;
  border: 1px solid rgba(255, 255, 255, 0.411);
  border-radius: 10px;
  margin-top: 5em;
  transition: box-shadow 0.2s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s forwards;
}

.all a:hover {
  box-shadow: rgba(255, 0, 0, 0.4) -5px 5px, rgba(255, 0, 0, 0.3) -10px 10px,
    rgba(255, 0, 0, 0.2) -15px 15px, rgba(255, 0, 0, 0.1) -20px 20px,
    rgba(255, 0, 0, 0.05) -25px 25px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.all:nth-child(1) {
  animation-delay: 0.3s;
}

.all:nth-child(2) {
  animation-delay: 0.6s;
}

.all:nth-child(3) {
  animation-delay: 0.9s;
}

.all:nth-child(4) {
  animation-delay: 1.2s;
}

.all:nth-child(5) {
  animation-delay: 1.5s;
}

.all:nth-child(6) {
  animation-delay: 1.8s;
}

@media (max-width: 1000px) {
  .all a {
    width: 20em;
    height: 10em;
  }
}

@media (max-width: 810px) {


  .all a {
    width: 17em;
    height: 10em;
  }

  #nome {
    font-size: 1.4em;
    padding-left: 0.7em;
  }

  #pr {
    width: 100%;
    flex-direction: column;
    gap: 1em;
    text-align: left;
    margin-left: 0em;
    margin-top: 0em;
  }

  h1,
  h2 {
    padding-left: 0.5em;
    margin: 0;
  }

  h1 {
    font-size: 2.5em;
    margin-top: 0em;
  }

  #pr h2 {
    font-size: 1em;
    margin-top: 0.5em;
  }

  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 1.5em;
  }
}
