@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  flex-wrap: wrap;
  width: 100%;
  height: 4em;
  position: fixed;
  backdrop-filter: blur(6px);
  z-index: 1000;
  border-bottom: 0.5px solid rgba(252, 252, 252, 0.123);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  z-index: 1;
}


.nav_link {
  list-style: none;
  display: flex;
  gap: 10em;
  padding: 0;
}

.nav a {
  color: #fafaf9;
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  position: relative;
  transition: color 0.5s ease;
}

.nav a:hover {
  color: rgb(255, 0, 0);
 
}


.nav a::after {
  content: ""; 
  position: absolute;
  bottom: -5px; 
  left: 50%;
  width: 0; 
  height: 2px; 
  background-color: rgb(255, 255, 255); 
  transition: all 0.4s ease; 
  transform: translateX(-50%); 
}

.nav a:hover::after {
  width: 100%; 
}

#nome {
  align-items: center;
  color: #fafaf9;
  font-size: 1.7em;
  padding-left: 5em;
  font-weight: 700;
}

#sobrenome {
  color: red;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1em;
  padding-right: 8em;
}

.nav_link {
  display: flex;
  gap: 1em;
  list-style-type: none;
  gap: 2em;
}
