@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  flex-wrap: wrap;
  width: 100%;
  height: 4em;
  position: fixed;
  backdrop-filter: blur(6px);
  z-index: 1000;
  border-bottom: 0.5px solid rgba(252, 252, 252, 0.123);
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  z-index: 1;
}

.nav_link {
  list-style: none;
  display: flex;
  gap: 10em;
  padding: 0;
}

.nav a {
  color: #fafaf9;
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  position: relative;
  transition: color 0.5s ease;
}

.nav a:hover {
  color: rgb(255, 0, 0);
}

.nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.4s ease;
  transform: translateX(-50%);
}

.nav a:hover::after {
  width: 100%;
}

#nome {
  align-items: center;
  color: #fafaf9;
  font-size: 1.7em;
  padding-left: 5em;
  font-weight: 700;
}

#sobrenome {
  color: red;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1em;
  padding-right: 8em;
}

.nav_link {
  display: flex;
  gap: 1em;
  list-style-type: none;
  gap: 2em;
}

main {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  position: fixed;
  padding-top: 11em;
  padding-left: 8.1em;
}

h1 {
  font-size: 4.2em;
  font-weight: 700;
  color: #fafaf9;
}

#name {
  color: red;
}

h2 {
  padding-top: 1em;
  font-weight: 400;
  color: #fafaf9;
}

p {
  color: #fafaf9;
  max-width: 40em;
  padding-top: 2em;
  text-indent: 0.3em;
}

#download {
  margin-top: 2em;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 0.2em;
  width: 7.8em;
  height: 2.5em;
  font-size: 1em;
}

#img1{
  padding-left: 10em;
}

img{
  clip-path: circle(50% at 50% 50%);
}

main,
header {
  pointer-events: none; /* Permite que os eventos de mouse passem */
}

nav a,
button,
#logos,
#menu-icon,
header a {
  pointer-events: auto; /* Mantém links e botões clicáveis */
}

#logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #09090b;
  border: 1px solid rgba(255, 255, 255, 0.137);
  height: 25em;
  width: 6em;
  margin: 1em;
  padding-top: 2.5em;
  text-align: right;
  margin-left: 10em;
  border-radius: 60px;
  gap: 1.5em;
}

@media (max-width: 1200px) {
  #logos {
    transform: scale(0);
  }
}

@media (max-width: 900px) {
  #nome {
    padding-left: 0.7em;
    font-size: 1.4em;
  }

  main {
    flex-direction: column;
    padding-top: 6em;
    padding-left: 1.8em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    padding-top: 1em;
  }

  P {
    min-width: 20em;
    padding-top: 1em;
    font-weight: 500;
  }
}

@media (max-width: 720px) {
  #img1 {
    height: auto;
    padding: 1em;
  }

  #img1 img {
    width: 100%;
    height: auto;
    width: 170px;
    height: 170px;
    
  }
}
