@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  flex-wrap: wrap;
  width: 100%;
  height: 4em;
  position: fixed;
  backdrop-filter: blur(8px);

  z-index: 1000;
  border-bottom: 0.5px solid rgba(22, 22, 22, 0.123);
}

#nome {
  align-items: center;
  color: black;
  font-size: 1.5em;
  padding-left: 5em;
  font-weight: 700;
}

#sobrenome {
  color: red;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1em;
  padding-right: 8em;
}

.nav_link {
  display: flex;
  gap: 1em;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.5s;
  font-weight: 600;
}

a:hover {
  color: purple;
}

main {
  display: flex;
  align-items: center;
  position: fixed;
  padding-top: 11em;
  padding-left: 8.1em;
}

h1 {
  font-size: 4.2em;
  font-weight: 700;
}

#name {
  color: red;
}

h2 {
  padding-top: 1em;
  font-weight: 400;
}

p {
  max-width: 40em;
  padding-top: 2em;
}

#download {
  margin-top: 2em;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.2em;
  width: 7.8em;
  height: 2.5em;
  font-size: 1em;
}

#img1 {
  padding-left: 10em;
}

main,
header {
  pointer-events: none; /* Permite que os eventos de mouse passem */
}

nav a,
button,
#logos,
#menu-icon,
header a {
  pointer-events: auto; /* Mantém links e botões clicáveis */
}

#logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e7eb;
  height: 25em;
  width: 6em;
  margin: 1em;
  padding-top: 2.5em;
  text-align: right;
  margin-left: 8em;
  border-radius: 60px;
  gap: 1.5em;
}

@media (max-width: 1200px) {
  #logos {
    transform: scale(0);
  }
}



@media (max-width: 800px) {
  #nome {
    padding-left: 1em;
    font-size: 1em;
  }

  main {
    flex-direction: column;
    padding-top: 6em;
    padding-left: 1.8em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    padding-top: 1em;
  }

  P {
    min-width: 20em;
    padding-top: 1em;
    font-weight: 500;
  }

  #img1{
    max-width: 100px;
    text-align: center;
  }


}
