@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.8s ease color 0.3s;
}

:root {
  --text-color: black;
  background: linear-gradient(200deg, rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0)),
    linear-gradient(100deg, rgba(0, 0, 0, 0.582), rgba(20, 20, 20, 0.555)),
    linear-gradient(300deg, rgba(0, 0, 0, 0.582), rgba(20, 20, 20, 0.555));
  --stroke-color: rgba(255, 255, 255, 0.438);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
}

.light {
  --text-color: black;
  background: radial-gradient(ellipse at top, #d67676, transparent),
    radial-gradient(ellipse at bottom, #451366, transparent),
    radial-gradient(circle at 10%, rgb(219, 78, 219), transparent),
    radial-gradient(circle at right, rgb(219, 78, 219), transparent);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.3em;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
}

h1 {
  align-items: center;
}

#branda {
  color: purple;
}

nav {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.3em;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.8s;
}

a:hover {
  color: purple;
}

#contact {
  align-items: center;

  height: 3em;
  width: 8em;
}

button {
  text-transform: uppercase;
  color: #000;
  background-color: var(--bg-color);
  border: 1px solid black;

  border-radius: 40px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: purple;
  box-shadow: 0px 15px 20px rgba(100, 4, 100, 0.527);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

#eu {
  font-size: 1.3em;
  font-weight: 500;
}

#titulos {
  display: flex;
  flex-direction: column;
  padding-left: 6.25em;
  padding-top: 3.5em;
}

.titulo {
  border-right: 0.1em solid rgba(255, 255, 255, 0.75);
  font-weight: 700;
  color: purple;
  font-family: "roboto", sans-serif;
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 0.5em;
  

}

.typing-animation {
  animation: blinkCursor 0.5s steps(30) infinite normal,
    typing 2.5s steps(30) 0.7s normal both;
  }

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 7.4em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: purple;
  }
  to {
    border-right-color: transparent;
  }
}

main {
  display: flex;
  align-items: center;
 justify-content: space-between;
  padding-top: 3em;
  padding-right: 1em;
  
}

#texto {
  text-align: left;
  text-align: left;
  max-width: 60vw;
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding-left: 6.25em;
}

p {
  text-indent: 5px;
  margin-block-start: 1em;
  margin-block-end: 1.2em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-size: 1.2em;
}

#download {
  width: 9em;
  height: 2.5em;
  padding: 0.5em;
  font-size: 1em;
  background-color: #303136;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#fotominha {
  text-align: right;
 
}

footer {
  height: 3em; /* Define uma altura fixa para o footer */
  background-color: var(--bg-color);
  color: #ffffff;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 0 2rem; /* Ajusta o padding lateral */
  display: flex;
  justify-content: space-between; /* Espaça os itens igualmente */
  align-items: center;
  z-index: 1000;
}

#reserved {
  flex-grow: 1;
  text-align: center;
}

@media (max-width: 768px) {

header{
  flex-direction: column;
  align-items: center;
  gap: 1em;
}



  main {
    
    flex-direction: column; /* Muda a direção do conteúdo para coluna */
    align-items: center;
    width: 100%;
  
  }

  #texto {
    display: grid;
    grid-template-columns: repeat(4, ); /* Organiza o texto em 4 colunas */
    flex-direction: column;
    grid-gap: 1em; /* Espaçamento entre as colunas */
    width: 100%; /* Faz o texto ocupar 100% da largura */
    margin: 0;
    padding: 0; /* Remove o padding lateral em telas menores */
  }

  #download{
    text-align: center;
  }

  #fotominha {
    width: 100%; /* Faz a imagem ocupar 100% da largura */
    margin-top: 1.5em; /* Espaçamento acima da imagem */
    text-align: center;
  }

  footer {
    height: 5em;
    backdrop-filter: blur(5px);
    flex-direction: column; /* Empilha os itens do footer */
    padding: 0.5rem; /* Reduz o padding para otimizar o espaço */
  }
}



.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
