@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --link-color: #a8a29e;
  --link-underline: #ffffff;
  --b-color: rgba(255, 255, 255, 0.137);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15.2ch; /* número de caracteres */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typing-title {
  width: 0;
  border-right: 3px solid;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 3.5s steps(28) forwards,
    blink 0.8s infinite alternate;
}

.border-custom {
  border: 1px solid rgba(252, 252, 252, 0.123);
}

.border-t-custom {
  border-top: 1px solid rgba(252, 252, 252, 0.123);
}

.blur-custom {
  backdrop-filter: blur(6px);
}

.nav a {
  color: var(--link-color);
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  position: relative;
  display: inline-block;
  transition: color 0.5s ease;
}

.nav a:hover {
  color: var(--link-hover-color);
}

.nav a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--link-underline);
  transition: all 0.4s ease;
  transform: translateX(-50%);
}

.nav a:hover::after {
  width: 100%;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal {
  animation: fadeInUp 1.2s ease-out forwards;
}

@keyframes headerSlide {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.header-reveal {
  animation: headerSlide 0.8s ease-out forwards;
}
